.table-container {
  background-color: #fff;
  border-radius: 8px;
  overflow: hidden;
}

table {
  margin-bottom: 0 !important;
}

tr,
th,
td {
  border: none !important;
}

th {
  font-family: "Poppins", sans-serif;
  background-color: var(--primary-color) !important;
  color: white !important;
  font-weight: 500;
  text-wrap: nowrap;
  padding: 14px 16px !important;
}

td {
  font-family: "Barlow", sans-serif;
  max-width: 400px !important;
  font-weight: 500;
  color: var(--text-color) !important;
  text-wrap: nowrap;
  padding: 10px 16px !important;
}
